.header {
    text-align: center;
    background-color: aquamarine;
}

. nav {
    text-indent: 20%;
    color: blueviolet;
}

. main {
    text-align: center;
    font-size: medium;
}
. footer {
    text-align: left;
    background-color: green;
}